[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

setuptools = ">= 38.6.0"
plexapi = ">= 3.0.6"
click = ">= 6.7"
pyyaml = ">= 3.10"

[dev-packages]

autopep8 = ">= 1.3.0"
flake8 = ">= 3.5.0"
pipenv = ">= 11.8.0"

[requires]
python_version = "3.6"
